@charset "utf-8";

.p-contentsHistory{
  &__list{
    padding: 0 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item{
    width: 47.5%;
    margin: 0 0 9%;
    &:first-child{
      width: 100%;
    }

    &:nth-child(2) {
      width: 100%;
    }

    & a:first-child{
      display: block;
    }

    & a:hover {
      opacity: 0.5 ;
    }

    & a img{
      display: block;
      padding: 8px;
      background: #fff;
      margin: 0 0 10px;
      &:first-child{
        width: 102%;
      }
    }

    & span{
      display: block;
      margin: 0 0 10px;
      color: #999;
      font-size: 12px;
      font-weight: 300!important;
      text-align: center;
      line-height: 12px;
    }
  }
  &__itemText{
    font-size: 18px;
    font-weight: 500!important;
    text-align: center;
    line-height: 18px;
    font-family: 'Work sans';
    color: #333;
    &:hover{
      color: #418317;
    }
  }

  &__itemMin{
    font-size: 14px;
    font-weight: 500!important;
    text-align: center;
    line-height: 14px;
    font-family: 'Work sans';
    color: #333;
    &:hover{
      color: #418317;
    }
  }
}

