@charset "utf-8";

.p-contentsNews{

  &__list{
    padding: 0 5%;
  }

  &__item{
    margin: 0 0 6%;
    padding: 0 0 5%;
    border-bottom: 1px solid #ccc;
  }

  &__item a{
    color: #333;
    text-decoration: underline;
    &:hover{
      color:#418317;
    }
  }

  &__item span{
    font-size: 13px;
    color: #666;
    font-weight: 300!important;
    display: block;
    margin: 0 0 3%;
    text-align: left;
    line-height: 13px;
  }

  &__item h3{
    text-align: left;
    font-weight: 300;
    line-height: 25px;
    font-size: 14px;
    font-family: "Work Sans";
  }

}