@charset "utf-8";

.feather-twitter{
	width: 6%;
	color: #1DA1F2;
}

.feather-instagram{
	width: 6%;
	color: #CF2E92;
}

.feather-tv{
	width: 6%;
	color: #1dcd00;
}

.feather-youtube{
	width: 6%;
	color: #DA1725;
}

.feather-music{
	width: 6%;
	color: #000;
}