@charset "utf-8";

.p-homeHeader{
  display:none;
  z-index: 100;
  position: fixed;
  top: 4%;
  right: 5%;

  &__nav li{
    margin: 0 0 24%;
    text-align:left;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
  }
}